.site-nav {
	background-color: grey;
	border: 1px solid black;
	width: 150px;
	list-style: none;
	padding: 0;
	
}

.site-nav .site-nav-item {
	border-bottom: 1px solid black;
	padding: 3px;
}

.site-nav .site-nav-item:last-child {
	border-bottom: none;
}

.site-nav .site-nav-item a {
	color: white;
	text-decoration: none;
}

.site-nav .site-nav-item a:hover {
	text-decoration: underline;
}